{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
    <h1>Ajouter une média</h1>
    {{ form_start(formMedia) }}
<ul>
    <li>{{ form_row(formMedia.file) }}</li>
    <li>{{ form_row(formMedia.title) }}</li>
    <li>{{ form_row(formMedia.description) }}</li>
    <li>{{ form_row(formMedia.categories) }}</li>
{#    <li>{{ form_row(formMedia.user) }}</li>#}
</ul>
    <button type="submit">Valider la création du média</button>
    {{ form_end (formMedia) }}
{% endblock %}